<div
    class="card-container"
>
    <span class="icon-close">x</span>
    <div class="card-body">
        <div class="card-content">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore consectetur quam libero ipsa molestiae quia reprehenderit laudantium, consequuntur temporibus doloremque earum dolorum ducimus aperiam? Recusandae nisi aut at animi nam?</p>
        </div>
    </div>
    <div class="card-content pills-container">
        <p>Estado: 
            <span
                class="status"
            >
                    In progress
            </span>
            
        </p>
        <p>Prioridad:
            <span
                class="priority"
            >
            Low
            </span>
        </p>
        <p>Fecha límite: '02/04/2024'</p>
    </div>
    <section class="progressbar-container">
        <div class="progressbar">
            <div class="progressbar__fill">
            </div>
        </div>
        <span>x %</span> 
    </section>           
</div>
