<div class="card-container">
    <header>
        <span class="icon-close" (click)="onClickIcon.emit(todoData)">x</span>
    </header>
    <div class="card-body">
        <div class="card-content">
            <h3> {{todoData.title}}</h3>
            <p>{{todoData.description}}</p>
        </div>
    </div>
    <section style="background-color: beige;">
        <ng-content></ng-content>
    </section>
    <div class="card-content pills-container">
        <p>Estado:
            <span
                class="status to-do"
                [ngClass]="todoData.class.status"
            >
                {{todoData.status}}
            </span>
        </p>
        <p>Prioridad:
            <span
                class="priority"
                [ngClass]="todoData.class.priority"
            >
            {{priority}}
            </span>
        </p>
        <p>Fecha límite: {{todoData.deadLine | date}}</p>
    </div>
    <section class="progressbar-container">
        <div class="progressbar" [attr.data-progress-range]="range">
            <div class="progressbar__fill" [ngStyle]="{'width': progress + '%'}">
            </div>
        </div>
        <span>{{todoData.progress| percent }}</span> 
    </section>

</div>
