<div class="todo-container">
    <!-- <app-todo
        *ngIf="todoData"
        #todoRef
        [todoData]="todoData"
        (onClickIcon)="todoData = null"
    >
        <app-input placeholder="Nombres"></app-input>
        <app-input placeholder="Apellidos"></app-input>
        <app-input placeholder="Edad" type="number"></app-input>
        <div class="comment" style="margin-top: 1rem;">
            <textarea rows="5"></textarea>
        </div>
    </app-todo> -->
    <router-outlet></router-outlet>
</div>

<br>
<br>
<button (click)="router.navigate([''])">Home</button>
<button (click)="router.navigate(['/todo'])">Todo</button>
<button (click)="change()">Modificar</button>
